
       
       body
        
        {
          font-family: 'Roboto Condensed', sans-serif;
          background:#232E34;
          color:white !important;

        }


        .dropdown-menu-dark {
            color: #dee2e6;
            background-color: #343a40;
            border-color: rgba(0,0,0,.15);
            padding: 15px !important;
        }

 /* Pdf Embaed Start #########*/
 #toolbar {
    align-items: center;
    background-color: #1A2127 !important;
    color: white;
    display: flex;
    height: var(--viewer-pdf-toolbar-height);
    padding: 0 16px;
}

 /* Pdf Embaed End #########*/


          /* Focus Remove Start #########*/
             
.accordion-button:focus {
    outline: none;
    box-shadow: none;
  }

.btn:focus {
  outline: none;
  box-shadow: none;
  color:#fff;
}

.nav-link:focus:hover {
  outline: none;
  box-shadow: none;
  color:#fff !important;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}
.form-select:focus {
  outline: none;
  box-shadow: none;
}
/* Focus Remove End #########*/
       /* Input Field Design Start #########*/
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffff !important;
    background-color: #1A2127 !important;
    background-clip: padding-box;
    border-bottom: 3px solid #19D5BA;
    border-top:none !important;
    border-right:none !important;
    border-left:none !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

  /* Input Field Design END ##########*/

  .table>thead {
    vertical-align: bottom;
    color: #fff;
}

  
  /*Select Field Style Start*/

  .form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #1A2127;
   
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 3px solid #19D5BA;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


  /*Select Field Style End*/

      a{
        color: #fff;
        text-decoration:none;
      }

      .nav-link {
        color: #fff;
      }

      a:hover{
        color: #fff !important;
      }

      .nav-link:hover {
        color: #fff;
      }

      .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: box-shadow .15s ease-in-out;
}

.card{
        border: none;
        background: #1A2127;
        padding:15px;
      }

      .status{
        padding:10px;
        border:3px solid #19D5BA;

      }

        /* Top Menu Bar */

        .dropbtn {
  background-color: #F8F9FA;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #F8F9FA;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

 /* Top Menu Bar End */
  

 .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: center;
    background-color: #033741;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
    color: white;
    border: 3px solid #19D5BA;
}

.border {
    border: 3px solid black!important;
}


tbody, td, tfoot, th, thead, tr {
border-color: inherit;
border-style: solid;
border-width: 0;
padding: 10px !important;
}

